.stats {
    background-color: var(--background-secondary-color);
    width: 100%;
    margin-bottom: 120px;
}

.stats-container {
    display: flex;
    align-items: center;
    gap: 48px;
    margin: auto;
    padding: 48px 120px;
    max-width: 1280px;
}

.title,
.metric {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* ---------- Title ---------- */

.title {
    gap: 16px;
}

.title h2 {
    font-size: 2.4rem;
    color: white;
}

/* ---------- Metrics ---------- */

.metric {
    min-height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 26px;
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    height: 100px;
}

.metric h3 {
    font-family: var(--title-font);
    font-size: clamp(2rem, 3.5vw, 3.2rem);
    font-weight: 700;
    line-height: 1;
    color: var(--background-tertiary-color);
}

.metric p {
    font-family: var(--text-font);
    color: var(--text-tertiary-color);
}