.hero-container-pages{
    text-align: center;
    padding-top: 104px;
}

.hero-content {
    justify-content: center;
    position: relative;
    z-index: 2;
    margin: auto;
    width: 100%;
    max-width: 600px;
}

.hero-title {
    margin: 0 auto 20px auto;
    font-size: 3.5em;
    font-weight: 700;
}

@media (max-width: 768px) {
    .hero-title {
        width: 100%;
        font-size: 2.5em;
    }
}