
header {
    border-bottom: 1px solid rgba(255, 255, 255, .12);
    backdrop-filter: blur(18px) saturate(145%);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header nav {
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 40px;
    color: white;
    margin: auto;
    padding: 16px 24px;
    width: 100%;
    max-width: 1024px;
}

.header__logo {
    display: flex;
    gap: 8px;
    align-items: center;
}

.header__logo img {
    height: 40px;
    width: 40px;
    object-fit: contain;
}

.logo-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--background-tertiary-color);
    font-family: var(--title-font);
    font-size: 12px;
    font-weight: 700;
}

.logo-content > :first-child {
    color: white;
}

.header__navbar {
    display: flex;
    align-items: center;
    gap: 40px;
    font-family: var(--mono-font);
    list-style-type: none;
}

.header__navbar a {
    position: relative;
    color: var(--text-tertiary-color);
    text-decoration: none;
    transition: 300ms ease;
}

.header__navbar a::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    background-color: var(--background-tertiary-color);
    height: 2px;
    width: 0;
    transition: 300ms ease;
}

.header__navbar a:hover {
    color: var(--color-tertiary);
}

.header__navbar a:hover::after {
    width: 100%;
}

.header__navbar a.active {
    color: var(--color-tertiary);
}

.header__navbar a.active::after {
    width: 100%;
}

#menu-checkbox,
#overlay,
.menu-label {
    display: none;
}

#menu-checkbox {
    position: absolute;
}